.sidebar-container {
  width: 13rem;
  height: calc(100vh - 88px);
  background-color: #341677;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar-container button {
  border: none;
  background-color: #a32f80;
  width: 75%;
  border-radius: 0.5rem;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
  cursor: pointer;
}

.sidebar-container button span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}

.sidebar-container .create-btn {
  padding-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.sidebar-container .tasks-container {
  width: 100%;
  max-height: 15rem;
  overflow-y: auto;
}

.sidebar-container ul {
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 1rem;
}
.sidebar-container ul li {
  list-style: none;
  padding: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: 0.2s ease-in-out;
}

.sidebar-container ul li:hover {
  background-color: #fff3;
}

.sidebar-container ul li a {
  color: #fff;
  text-decoration: none;
  font-size: large;
}

.active {
  background-color: rgba(255, 255, 255, 0.3);
}

.expandBtn{
  display: none;
}

@media all and (max-width:760px){
    .sidebar-container{
      height: 3rem;
      width: 100%;
    }
    .expandBtn{
      display: flex;
      color: #fff;
      width: 100%;
      min-height: 3rem;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .sidebar-container.open{
      height: fit-content;
    }
    .sidebar-container .tasks-container{
      height: fit-content;
      padding: 1rem 0;
    }
}